/.gradle/
/build/
/.research/
/backups/
/instances/
/libraries/
/meta/
/cache/
/logs/
/translations/
/catpacks/
/iconthemes/
/themes/
/java/
/scripts/
/accounts.json
/freesmlauncher.cfg
/prismlauncher.cfg
/metacache
/Prism Launcher_nomigrate.txt
/run/
/.idea/
/.vscode/
*.iml
*.log

/prompt.md
README_LOCAL.md